.main-login {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link {
  color: gray;
}

.link:hover {
  color: gray;
  text-decoration: underline;
  text-decoration-color: gray;
}

.center {
  text-align: center;
}

.section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-home {
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}
